# Ignore audio files
*.aac

# Ignore environment files
.env

# Ignore data directory
data/

# Ignore macOS .DS_Store files in all directories
**/.DS_Store

# Ignore IDEA project files
.idea/

# Ignore Google Cloud service account credentials file
voh/service-account.json

# Ignore Visual Studio Code files
.vscode/

# Ignore Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore JSON files
*.json

# OSM data files
*.graphml

# Results files
results
