# Ignore audio files
*.aac

# Ignore environment files
.env

# Ignore data directory
data/

# Ignore macOS .DS_Store files in all directories
**/.DS_Store

# Ignore IDEA project files
.idea/

# Ignore Google Cloud service account credentials file
voh/service-account.json

# Ignore Visual Studio Code files
.vscode/

# Ignore Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Ignore audio and video files
*.mp4
*.wav

# Ignore log files
*.log
*.txt

# Ignore pickle files
*.pkl

# Ignore JSON files
*.json

# Ignore OSM map files
*.osm
*.graphml

# Ignore Fairseq files
*.pt
*.tar.gz
*.tsv

# Ignore data files
*.bin
*.csv
*.parquet
*.zip

# Ignore generated PDF files
*.pdf

# Ignore certs
certs

# Ignore pgdata
pgdata

# Ignore Praat files
*.TextGrid

# Ignore pycache
__pycache__

# TeX files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.pickle
*.snm
*.synctex.gz
*.toc

# Ignore datasets
thesis/self-debug/src/dataset/ds1000_data

# .venv
.venv
